$purple: #612d62;
$purple-light: #863787;
$red: #ca2727;
$red-light: #e06666;
$red-dark: #bb4444;
$semi-transparent: rgba(255, 255, 255, 0.25);
$white: white;
$shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
$lightgrey: lightgrey;
$main-background: #e6e6e6;
